{% extends 'base.html' %}


{% block title %} Home {% endblock title %}
{% block homeactive %} active {% endblock homeactive %}
{% block body %}


<div class="container my-5">
    <h1>Welcome back</h1>
    <p class="lead">Stay away from me </p>
    <div class="col-md-10">
        <h2>Popular Blogpost</h2>
        {% for post in allpost %}
        <div class="row g-0 border rounded overflow-hidden flex-md-row my-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">Written by {{post.author}}</strong>
            <h3 class="mb-0">{{post.title}}</h3>
            <div class="mb-1 text-muted">{{post.Timestamp}}</div>
            <p class="card-text mb-auto">{{post.content|safe|truncatechars:500}}</p>
            <div class="container"><a href="/icoder/{{post.slug}}" class="btn btn-primary">Continue reading</a></div>
          </div>
        </div>
        {% endfor %}
      </div>
{% endblock body %} 