{% extends 'base.html' %}


{% block title %} Icoderhome {% endblock title %}
{% block icoderactive %} active {% endblock icoderactive %}

{% block body %}
<div class="container"></div>
{% for post in allpost %}
<div class="container">  
    <div class="row g-0 border rounded overflow-hidden flex-md-row my-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-primary">Written by {{ post.author}} ({{post.views}}) views </strong>
        <h3 class="mb-0">{{ post.title }}</h3>
        <div class="mb-1"><div class="preview">{{ post.content|safe|truncatechars:500 }}</div></div>
        <p class="card-text mb-auto"></p>
        <div>
            <a href="{{ post.slug }}" role="button"class="btn btn-primary">Continue reading</a>
        </div>
        </div>
    </divl>
    </div>
</div>
    {% endfor %}
{% endblock body %} 
{% block js %}

<script>
let previews=document.getElementsByClassName('preview');
Array.from(previews).forEach((element)=>{
    element.innerHTML=element.innerText;
})
</script>

{% endblock js %}